body {
  color: #40514E margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0px auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-width: 8px;
  border-top-color: #EAF6F6;
  margin: 100px auto;
  width: 5%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0px 20px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: 0px auto;
}

.myprofile {
  height: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.comp {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chil {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contactmes {
  width: 40%;
  margin: 40px auto 60px;
}

.BUTTON_EOR {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_EOR:hover {
  border: solid #FFFFFF 0;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0px;
}
